.collaCard {
  padding: 1rem;
  overflow: hidden;
  background: #f3f3f3;

  &__name {
    margin-top: 0.5em;
    font-size: 2.5rem;
  }

  &__entity {
    margin-top: 0.5em;
    font-size: 1.5rem;
  }

  &__foundation-year {
    margin-top: 0.5em;
    font-size: 0.5rem;
  }
}