@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 5, 40;
  --background-start-rgb: 220, 254, 255;
  --background-end-rgb: 249, 236, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ---------------------------------------------------- FOREGROUND ---------------------------------------------------- */

.foreground-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/foreground.png");
  background-repeat: no-repeat; /* Prevent horizontal repetition */
  background-size: cover; /* Ensure vertical fit */
  z-index: 999; /* Ensure it's above other content */
  pointer-events: none; /* Make it non-interactable */
}

.footer-image {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 470px;
  height: 260px;
  background-image: url("../../public/footer.png");
  z-index: 1000; /* Ensure it's above other content */
  pointer-events: none; /* Make it non-interactable */
}

/* ---------------------------------------------------- LANGUAGE SELECTOR ---------------------------------------------------- */

.language-selector {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
}

.language-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgb(185, 185, 255);
  z-index: 1;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: white;
  background-color: #7f7ffd;
  border-radius: 15px;
}

.language-selector:hover .dropdown-content {
  display: block;
}

/* ---------------------------------------------------- HOVER BUTTONS ---------------------------------------------------- */
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
}
/* ---------- ca ---------- */
.button-with-hover {
  position: relative;
}
.button-with-hover:hover .hover-image {
  opacity: 1; /* Show on hover */
}
/* Adjust the background images for hover effect */
.button-with-hover:nth-child(1) .hover-image {
  background-image: url("../../public/button-hover-business-ca.png");
}
.button-with-hover:nth-child(2) .hover-image {
  background-image: url("../../public/button-hover-user-ca.png");
}
/* ---------- es ---------- */
.button-with-hover-es {
  position: relative;
}
.button-with-hover-es:hover .hover-image {
  opacity: 1; /* Show on hover */
}
.button-with-hover-es:nth-child(1) .hover-image {
  background-image: url("../../public/button-hover-business-es.png");
}
.button-with-hover-es:nth-child(2) .hover-image {
  background-image: url("../../public/button-hover-user-es.png");
}
/* ---------- en ---------- */
.button-with-hover-en {
  position: relative;
}
.button-with-hover-en:hover .hover-image {
  opacity: 1; /* Show on hover */
}
.button-with-hover-en:nth-child(1) .hover-image {
  background-image: url("../../public/button-hover-business-en.png");
}
.button-with-hover-en:nth-child(2) .hover-image {
  background-image: url("../../public/button-hover-user-en.png");
}
/* ---------------------------------------------------- BANNER ---------------------------------------------------- */

.banner-container {
  height: 300px; /* Adjust height as needed */
  width: 100vw; /* Expand to full viewport width */
  background-repeat: repeat-x; /* Repeat horizontally */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */

}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ---------------------------------------------------- FLIP CARD ---------------------------------------------------- */

.flip-card {
  background-color: transparent;
  width: 250px;
  min-width: 250px;
  height: 250px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-right: 75px;
  margin-left: 75px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotate3d(0, 1, 0, -180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 40px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* ---------------------------------------------------- CARROUSEL ---------------------------------------------------- */
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 245px;
  height: 436px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.7s ease-in;
}
.carousel__item:nth-child(1) {
  background-image: url("../../public/reel-1.png");
}
.carousel__item:nth-child(2) {
  background-image: url("../../public/reel-2.png");
}
.carousel__item:nth-child(3) {
  background-image: url("../../public/reel-3.png");
}
.carousel__item:nth-child(4) {
  background-image: url("../../public/reel-4.png");
}
.carousel__item:nth-child(5) {
  background-image: url("../../public/reel-5.png");
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}
