@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color:white;
$secondary-color:#222321;
$color-text-sidebar:white;
$color-creadores:#F57712;
$color-marcas:#0059A6;
$project-color-marcas:#0059A6;
:root {
  --foreground-rgb: $primary-color /* old: 10, 5, 40 */
  --background-start-rgb: $primary-color;  /* old: 220, 254, 255 */
  --background-end-rgb: $primary-color /* old: 249, 236, 255 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
   box-sizing: border-box;
 }
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.desc-layout-blue{
  position: fixed;
  width:100%;//1177.54px;
  height:100%;//1611.56px;
  left:-20%; //-161.99px;
  top:10%; //2651.24px;
  
  background: linear-gradient(219.66deg, rgba(57, 135, 255, 0.5) 77.33%, rgba(0, 0, 0, 0) 77.34%);
  filter: blur(300px);
  transform: rotate(-113.26deg);
  z-index:-1;

}

.desc-layout{
  position:absolute;
  width:100%;
  height:1000px;
  background: linear-gradient(-45deg, rgba(239, 122, 23, 0.5) 50%,rgba(57, 135, 255, 0.5) 50%);
  filter: blur(100px);
  z-index: -1;
}

.desc-layout-orange{
position: fixed;
width:90%; //1134.14px;
height:100%; //1552.16px;
left: 30%;//-20.66px;
top:40%; //1524.19px;

background: linear-gradient(219.66deg, rgba(239, 122, 23, 0.5) 77.33%, rgba(0, 0, 0, 0) 77.34%);
filter: blur(300px);
transform: rotate(-104.43deg);
z-index:-1;
}

.storymakers-header {
  font-size: 3.75rem; /* Corresponds to Tailwind text-6xl (6xl = 6 * 0.625rem = 3.75rem) */
  font-weight: 750; /* Corresponds to Tailwind font-bold */
  margin-top: 5rem; /* Corresponds to Tailwind mt-20 (20 * 0.25rem = 5rem) */
  margin-bottom: 2.5rem; /* Corresponds to Tailwind mb-10 (10 * 0.25rem = 2.5rem) */
}

//marcas
.style-color-marcas{
  color:$color-marcas;
}

.style-background-marcas{
  background-color: $color-marcas;
}

//creadores
.style-color-creadores{
  color:$color-creadores;
}

.style-background-creadores{
  background-color: $color-creadores;
}



.central-logo{
  width: 32rem;
  height: auto;
  margin-top: 7rem;
  margin-bottom: 3rem;
}


/* ---------------------------------------------------- FOREGROUND ---------------------------------------------------- */

.foreground-image {
  position: fixed;
  width: 100%;
  height: 100%;
  //background-image: url("../../public/foreground.png");
  background-repeat: no-repeat; /* Prevent horizontal repetition */
  background-size: cover; /* Ensure vertical fit */
  z-index: 999; /* Ensure it's above other content */
  pointer-events: none; /* Make it non-interactable */
}

.footer-image {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 470px;
  height: 260px;
 // background-image: url("../../public/footer.png");
  z-index: 1000; /* Ensure it's above other content */
  pointer-events: none; /* Make it non-interactable */
}

/* ---------------------------------------------------- LANGUAGE SELECTOR ---------------------------------------------------- */

.language-selector {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.language-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgb(185, 185, 255);
  z-index: 1;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: white;
  background-color: #7f7ffd;
  border-radius: 15px;
}

.language-selector:hover .dropdown-content {
  display: block;
}

/* ---------------------------------------------------- SOCIAL NETWORKS ---------------------------------------------------- */

.social-networks {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: inline-block;
}

.social-network-button {
  display: inline-block;
  padding: 15px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-network-button img {
  display: block;
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.social-network-button:hover {
  transform: scale(1.1);
}

/* ---------------------------------------------------- SIDE BAR ---------------------------------------------------- */

.side-bar-button {
  position: fixed;
  margin: 1rem;
  display: flex;
  width: 75px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease;
  z-index: 9;
}

.side-bar-button:hover {
  transform: scale(1.1);
}

.side-bar-category-button {
  margin: 20px;
  display: flex;
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease;
  background-color: #232323;
  color: $color-text-sidebar;
  font-weight: bold;
  font-size: x-large;
  border-radius: 20px;
  padding: 10px;
}

.side-bar-category-button:hover {
  transform: scale(1.1);
  background-color: white;
  color: #232323;
}

.side-bar-category-button-special {
  margin: 20px;
  display: flex;
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease;
  background-color: $color-creadores;
  color: white;
  font-weight: bold;
  font-size: x-large;
  border-radius: 20px;
  padding: 10px;
}

.side-bar-category-button-special:hover {
  transform: scale(1.1);
  background-color: white;
  color: $color-marcas;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: black;
  transition: left 0.3s ease;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 10;
}

.sidebar.open {
  left: 0;
}

.menu {
  padding-top: 150px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 13;
}
/* ---------------------------------------------------- USER BUTTONS ---------------------------------------------------- */

.user-button {
  margin: 20px;
  display: flex;
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease;
  background-color: #232323;
  color: white;
  font-weight: bold;
  font-size: x-large;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
}

.user-button:hover {
  transform: scale(1.1);
  background-color: white;
  color: #232323;
}
/* ---------------------------------------------------- HOVER BUTTONS ---------------------------------------------------- */
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
}
.hover-image-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
  transform: scale(1.1);
}

/* ---------- ca ---------- */
.button-with-hover {
  position: relative;
}
.button-with-hover:hover .hover-image {
  opacity: 1; /* Show on hover */
}
/* Adjust the background images for hover effect */
/*
.button-with-hover:nth-child(1) .hover-image {
  background-image: url("../../public/button-hover-business-ca.png");
}
.button-with-hover:nth-child(2) .hover-image {
  background-image: url("../../public/button-hover-user-ca.png");
}*/
/* ---------- es ---------- */
.button-with-hover-es {
  position: relative;
}
.button-with-hover-es:hover .hover-image {
  opacity: 1; /* Show on hover */
}
/*
.button-with-hover-es:nth-child(1) .hover-image {
  background-image: url("../../public/button-hover-business-es.png");
}
.button-with-hover-es:nth-child(2) .hover-image {
  background-image: url("../../public/button-hover-user-es.png");
}*/
/* ---------- en ---------- */
.button-with-hover-en {
  position: relative;
}
.button-with-hover-en:hover .hover-image {
  opacity: 1; /* Show on hover */
}
/*.button-with-hover-en:nth-child(1) .hover-image {
  background-image: url("../../public/button-hover-business-en.png");
}
.button-with-hover-en:nth-child(2) .hover-image {
  background-image: url("../../public/button-hover-user-en.png");
}*/
/* ---------------------------------------------------- BANNER ---------------------------------------------------- */

.banner-container {
  height: fit-content; /* Adjust height as needed */
  width: 100%; /* Expand to full viewport width */
  background-repeat: repeat-x; /* Repeat horizontally */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */

}
.banner-content {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next row */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Occupy full viewport width */
  padding: 20px; /* Optional: Add padding around the container */
  box-sizing: border-box; /* Include padding in the total width */
}


.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ---------------------------------------------------- FLIP CARD ---------------------------------------------------- */

.flip-card {
  background-color: transparent;
  width: 6rem;
  height: 6rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  @media (min-width: 600px){  /* PARA PANTALLAS GRANDES*/
    width:12rem;
    height:12rem;
    margin: 1rem;
   }  
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotate3d(0, 1, 0, -180deg);
  
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
  @media (min-width: 600px){  /* PARA PANTALLAS GRANDES*/
     border-radius: 40px;
   }  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.slidesStepsResponsive{  /*steps landing responsive*/
  padding-right: 20%;
  @media (min-width:600px) { /* PARA PANTALLAS GRANDES*/
    padding-right: 30%;
      }
}

/* ---------------------------------------------------- CARROUSEL ---------------------------------------------------- */
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
  margin-bottom: 22rem;
}
.carousel-list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  justify-content: center;
  perspective: 300px;
}
.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 24rem;
  height: 24rem;
  border-radius: 10%;
  box-shadow: 0rem 0.4rem 2rem 0rem rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.7s ease-in;
  background-size: cover; /* Ensures the background image covers the entire item */
  background-position: top; /* Puts to the top (or either center) the background image within the item */
}
/*.carousel__item:nth-child(1) {
  background-image: url("../../public/reel-1.png");
}
.carousel__item:nth-child(2) {
  background-image: url("../../public/reel-2.png");
}
.carousel__item:nth-child(3) {
  background-image: url("../../public/reel-3.png");
}
.carousel__item:nth-child(4) {
  background-image: url("../../public/reel-4.png");
}
.carousel__item:nth-child(5) {
  background-image: url("../../public/reel-5.png");
}*/
.carousel-item[data-pos="0"] {
  z-index: 5;
}
.carousel-item[data-pos="-1"], .carousel-item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel-item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel-item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel-item[data-pos="-2"], .carousel-item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel-item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel-item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.instagram-feed {
  margin: 1rem;
}

/* ---------------------------------------------------- FOOTER ---------------------------------------------------- */
.brand_link{
  background-color: $color-marcas;
  color: white;
  font-size: 2.2rem;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  margin-top: 3rem;
  border-radius: 3rem;
  padding: 1rem;
  padding-left: 1.8rem;
  padding-right: 2rem;
  border-width: 0.5rem;
  border-color: transparent;
  transition: 0.3s;
  text-align: center; /* Center align text */
  line-height: 1.2; /* Adjust line height for better readability */
  white-space: normal; /* Allow wrapping of text */
  max-width: 80%; /* Limit the width to prevent excessive stretching */
  margin: 2rem;
  margin-bottom: 8rem;
}

.brand_link:hover{
  border-color: $color-marcas;
  color: $color-marcas;
  background-color: white;
  scale: 1;
}

.more_info{
  font-style: italic;
  font-size: 1.5rem;
  color: #575757;
  background-color: transparent;
  font-weight: 400;
  text-align: center; /* Center align text */
  line-height: 1.2; /* Adjust line height for better readability */
  white-space: normal; /* Allow wrapping of text */
  max-width: 80%; /* Limit the width to prevent excessive stretching */
  margin: 2rem;
}

.more_info2{
  font-style: italic;
  font-size: 1rem;
  color: #575757;
  background-color: transparent;
  font-weight: 400;
  text-align: center; /* Center align text */
  line-height: 1.2; /* Adjust line height for better readability */
  white-space: normal; /* Allow wrapping of text */
  max-width: 80%; /* Limit the width to prevent excessive stretching */
  margin: 2rem;
  color: #dcdcdc;
}

.more_info_link, .more_info_link2{
  font-style: italic;
  font-size: 1.5rem;
  color: #050505;
  background-color: transparent;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: 0.3s;
}

.more_info_link2{
  font-size: 1rem;
  color: #a1a1a1;
  margin: 1rem;
}

.more_info_link:hover,.more_info_link2:hover{
  color: $color-creadores;
}

/* ---------------------------------------------------- REWARD PAGE ---------------------------------------------------- */
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-title {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: $color-creadores;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  margin: 1rem;
  margin-top: 7rem;
}

.subtitle {
  position: relative;
  font-size: 3.5rem;
  font-weight: 800;
  font-style: italic;
  line-height: 0.9;
  color: #000000;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  text-align: center; /* Center align text */
  line-height: 1.2; /* Adjust line height for better readability */
  white-space: normal; /* Allow wrapping of text */
  max-width: 80%; /* Limit the width to prevent excessive stretching */
}

.subtitle2 {
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-top: 0rem;
  text-align: center; /* Center align text */
  line-height: 1.2; /* Adjust line height for better readability */
  white-space: normal; /* Allow wrapping of text */
  max-width: 80%; /* Limit the width to prevent excessive stretching */
}

.youtube-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: $color-marcas;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.youtube-video {
  border-radius: 15px; /* Adjust the border radius as needed */
  overflow: hidden; /* Ensure the iframe is clipped within the container */
}

.youtube-video iframe {
  width: 40rem; /* Adjust the width as needed */
  height: 22.7rem;
  border: none; /* Remove iframe border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  background-color: black;
}

.footer-text{
  margin: 1rem;
}

/*-----------------------------------------------------FOOTER-------------------------------------------------------*/
.footer-color{
  background-color: $secondary-color;
}

/* ---------------------------------------------------- MOBILE ---------------------------------------------------- */


@media (max-width: 768px) {
  /* Styles for smaller screens */
  .banner-container {
    height: auto; /* Adjust height for smaller screens */
  }
  .flip-card{
    scale: 0.9;
  }
  .carousel {
    scale: 0.5;
    margin-bottom: 10rem;
  }

  .storymakers-header {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0rem;
  }

  .social-networks {
    scale: 0.8;
  }

  .side-bar-button {
    scale: 0.8;
  }

  .central-logo{
    width: 85%;
    height: auto;
    margin-top: 9rem;
    margin-bottom: 2rem;
  }

  .social-networks {
    position: fixed;
    top: 0.3rem;
    right: 3rem;
    display: inline-block;
  }

  .sidebar {
    height: 80%;
  }

  .big-title {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  .subtitle2 {
    font-size: 2rem;
  }

  .youtube-video iframe {
    width: 20rem; /* Adjust the width as needed */
    height: 11rem;
    border: none; /* Remove iframe border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
  }
}